@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This privacy notice discloses the privacy practices for (website address). This privacy notice applies solely to information collected by this website, except where stated otherwise. It will notify you of the following:
    <ul>
        <li>What information we collect;</li>
        <li>With whom it is shared;</li>
        <li>How it can be corrected;</li>
        <li>How it is secured;</li>
        <li>How policy changes will be communicated; and</li>
        <li>How to address concerns over misuse of personal data.</li>
    </ul>
</p>

<h2>Information Collection, Use, and Sharing</h2>
<p>
    We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
</p>
<p>
    We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g., to ship an order.
</p>
<p>
    Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.
</p>